<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
				<ul class="topnav-left">
					<li><a href="/">Home</a></li>
					<li><a href="/news/">News</a></li>
				</ul>
				<ul class="topnav-center">
					<li><a href="/gym">Gym</a></li>
					<li><a href="/sauna">Sauna</a></li>
					<li><a href="/partyroom">Party room</a></li>
					<li><a href="/musicroom">Music room</a></li>
				</ul>
				<ul class="topnav-right">
					<li><a href="/contact">Contact</a></li>
					<li><a href="/about">About</a></li>
				</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="http://www.omradesforeningenforum.se/">old site</a></li>
        		  <li><a href="https://github.com/oforum">github.com/oforum</a></li>
				</ul>
			</footer>
		</body>
	</html>
